.notice-detail-container {
  width: 1440px;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  row-gap: 0px;
  padding: 20px 0px 20px 0px;
}
