.single-choice-select-area {
  width: 880px;
  height: 215px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0);
  .choice-box-column-area {
    flex-shrink: 0;
    width: 880px;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    row-gap: 0px;
    .choice-box {
      flex-shrink: 0;
      width: 432px;
      height: 90px;
      border-radius: 8px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      row-gap: 0px;
      background: rgba(0, 0, 0, 0);
      border: 1px solid #d1d5db;
      .text {
        flex-shrink: 0;
        width: 400px;
        overflow-wrap: break-word;
        height: fit-content;
        color: #374151;
        font-family: 'Roboto';
        font-size: 18px;
        line-height: 24px;
        font-weight: 500;
        text-align: center;
      }
    }
    .choice-box-1 {
      flex-shrink: 0;
      width: 432px;
      height: 90px;
      border-radius: 8px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      row-gap: 0px;
      background: rgba(0, 0, 0, 0);
      border: 1px solid #d1d5db;
      .text-1 {
        flex-shrink: 0;
        width: 78px;
        height: 24px;
        white-space: nowrap;
        color: #374151;
        font-family: 'Roboto';
        font-size: 28px;
        line-height: 24px;
        font-weight: 500;
        text-align: center;
      }
    }
  }
  .choice-box-column-area-1 {
    flex-shrink: 0;
    width: 880px;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    row-gap: 0px;
    .choice-box-2 {
      flex-shrink: 0;
      width: 432px;
      height: 90px;
      border-radius: 8px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      row-gap: 0px;
      background: rgba(0, 0, 0, 0);
      border: 1px solid #d1d5db;
      .text-2 {
        flex-shrink: 0;
        width: 78px;
        height: 24px;
        white-space: nowrap;
        color: #374151;
        font-family: 'Roboto';
        font-size: 28px;
        line-height: 24px;
        font-weight: 500;
        text-align: center;
      }
    }
    .choice-box-3 {
      flex-shrink: 0;
      width: 432px;
      height: 90px;
      border-radius: 8px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      row-gap: 0px;
      background: rgba(0, 0, 0, 0);
      border: 1px solid #d1d5db;
      .text-3 {
        flex-shrink: 0;
        width: 78px;
        height: 24px;
        white-space: nowrap;
        color: #374151;
        font-family: 'Roboto';
        font-size: 28px;
        line-height: 24px;
        font-weight: 500;
        text-align: center;
      }
    }
  }
}
