.info-input-area {
  width: 480px;
  height: 430px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0);
}
.info-input-area .input-container {
  flex-shrink: 0;
  align-self: stretch;
  width: 480px;
  height: 322px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
