.frame--- {
  width: 480px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.frame--- .div {
  position: relative;
  flex-shrink: 0;
  width: 480px;
  height: 20px;
  background: rgba(0, 0, 0, 0);
}
.frame--- .div .div-1 {
  position: absolute;
  top: 9.5px;
  left: 0px;
  width: 480px;
  height: 1px;
  background: rgba(0, 0, 0, 0);
  border-width: 1px 0px 0px 0px;
  border-style: solid;
  border-color: #e5e7eb;
}
.frame--- .div .span {
  position: absolute;
  top: 0px;
  left: 190.05px;
  width: 100px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 16px 0px 16px;
  background: #ffffff;
}
.frame--- .div .span .text-- {
  flex-shrink: 0;
  width: 68px;
  height: 20px;
  white-space: nowrap;
  color: #6b7280;
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}
.frame--- .frame----1 {
  flex-shrink: 0;
  align-self: stretch;
  width: 480px;
  height: 70px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
    #fde047;
  border: 1px solid #facc15;
}
.frame--- .frame----1 .div-2 {
  flex-shrink: 0;
  width: 158px;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  row-gap: 0px;
}
.frame--- .frame----1 .div-2 .rectangle-- {
  flex-shrink: 0;
  width: 27px;
  height: 24px;
  background: url(https://image-resource.creatie.ai/150880125742532/150880125742534/9c22e28f7e3241b2c497e1bcceb480a1.png),
    rgba(0, 0, 0, 0);
  object-fit: cover;
  background-size: cover;
}
.frame--- .frame----1 .div-2 .text---1 {
  flex-shrink: 0;
  width: 121px;
  height: 24px;
  color: #374151;
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  text-align: center;
}
.frame--- .frame----2 {
  flex-shrink: 0;
  align-self: stretch;
  width: 480px;
  height: 70px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
    #ffffff;
  border: 1px solid #d1d5db;
}
.frame--- .frame----2 .div-3 {
  flex-shrink: 0;
  width: 139px;
  height: 28px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  row-gap: 0px;
}
.frame--- .frame----2 .div-3 .rectangle---1 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  background: url(https://image-resource.creatie.ai/150880125742532/150880125742534/fc22c355821382654195c2110dc845df.png),
    rgba(0, 0, 0, 0);
  object-fit: cover;
  background-size: cover;
}
.frame--- .frame----2 .div-3 .text---2 {
  flex-shrink: 0;
  width: 104px;
  height: 28px;
  white-space: nowrap;
  color: #374151;
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  text-align: center;
}
