.mock-submit-answer-grading-container {
  width: 1440px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 40px 0px 40px 0px;
}
