.pagenation-area {
  width: 530px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  row-gap: 0px;
  background: rgba(0, 0, 0, 0);
}
.pagenation-area .left-page-button {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 40px;
}

.pagenation-area .right-page-button {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 40px;
}
