.single-choice-select-area {
  width: 880px;
  height: 215px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0);
}
.single-choice-select-area .choice-box-column-area {
  flex-shrink: 0;
  width: 880px;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  row-gap: 0px;
}
.single-choice-select-area .choice-box-column-area .choice-box {
  flex-shrink: 0;
  width: 432px;
  height: 90px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  row-gap: 0px;
  background: rgba(0, 0, 0, 0);
  border: 1px solid #d1d5db;
}
.single-choice-select-area .choice-box-column-area .choice-box .text {
  flex-shrink: 0;
  width: 78px;
  height: 24px;
  white-space: nowrap;
  color: #374151;
  font-family: 'Roboto';
  font-size: 28px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
}
.single-choice-select-area .choice-box-column-area .choice-box-1 {
  flex-shrink: 0;
  width: 432px;
  height: 90px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  row-gap: 0px;
  background: rgba(0, 0, 0, 0);
  border: 1px solid #d1d5db;
}
.single-choice-select-area .choice-box-column-area .choice-box-1 .text-1 {
  flex-shrink: 0;
  width: 78px;
  height: 24px;
  white-space: nowrap;
  color: #374151;
  font-family: 'Roboto';
  font-size: 28px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
}
.single-choice-select-area .choice-box-column-area-1 {
  flex-shrink: 0;
  width: 880px;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  row-gap: 0px;
}
.single-choice-select-area .choice-box-column-area-1 .choice-box-2 {
  flex-shrink: 0;
  width: 432px;
  height: 90px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  row-gap: 0px;
  background: rgba(0, 0, 0, 0);
  border: 1px solid #d1d5db;
}
.single-choice-select-area .choice-box-column-area-1 .choice-box-2 .text-2 {
  flex-shrink: 0;
  width: 78px;
  height: 24px;
  white-space: nowrap;
  color: #374151;
  font-family: 'Roboto';
  font-size: 28px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
}
.single-choice-select-area .choice-box-column-area-1 .choice-box-3 {
  flex-shrink: 0;
  width: 432px;
  height: 90px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  row-gap: 0px;
  background: rgba(0, 0, 0, 0);
  border: 1px solid #d1d5db;
}
.single-choice-select-area .choice-box-column-area-1 .choice-box-3 .text-3 {
  flex-shrink: 0;
  width: 78px;
  height: 24px;
  white-space: nowrap;
  color: #374151;
  font-family: 'Roboto';
  font-size: 28px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
}
