.mocktest-detail-area {
  width: 1024px;
  height: 690px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 28px;
  column-gap: 28px;
  padding: 24px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
    #ffffff;
}

.mocktest-detail-area .title {
  width: 976px;
  height: 32px;
  color: #000000;
  font-family: 'Roboto';
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}
.mocktest-detail-area .description {
  width: 976px;
  height: 24px;
  color: #4b5563;
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.mocktest-detail-area .thumbnail {
  flex-shrink: 0;
  width: 976px;
  height: 256px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  background: url(https://image-resource.creatie.ai/150880125742532/150880125742534/1811c3855d50438fab3e80509112859a.png),
    rgba(0, 0, 0, 0);
  object-fit: contain;
  background-size: contain;
}

.mocktest-detail-area .mocktest-solve-button {
  width: 976px;
  height: 60px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  row-gap: 0px;
  background: #9debe3;
}
.mocktest-detail-area .mocktest-solve-button .button-content {
  flex-shrink: 0;
  width: 133px;
  height: 28px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  row-gap: 0px;
}
.mocktest-detail-area .mocktest-solve-button .button-content .solve-icon {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
}
.mocktest-detail-area .mocktest-solve-button .button-content .text {
  flex-shrink: 0;
  width: 104px;
  height: 28px;
  white-space: nowrap;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
}
