.tier-area {
  width: 1376px;
  height: 54px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  row-gap: 0px;
  .rank-box {
    flex-shrink: 0;
    width: 279.47px;
    height: 54px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    row-gap: 0px;
    padding: 0px 24px 0px 24px;
    background: rgba(0, 0, 0, 0);
    .rank {
      flex-shrink: 0;
      width: 8px;
      height: 20px;
      white-space: nowrap;
      color: #111827;
      font-family: 'Roboto';
      font-size: 14px;
      line-height: 20px;
      font-weight: 500;
      display: flex;
      align-items: center;
    }
  }
  .tier-box {
    flex-shrink: 0;
    width: 373.09px;
    height: 54px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    row-gap: 0px;
    padding: 0px 24px 0px 24px;
    background: rgba(0, 0, 0, 0);
    .DIAMOND-tier-content {
      width: 70px;
      height: 20px;
      border-radius: 9999px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      row-gap: 0px;
      background: #dbeafe;
      .DIAMOND-tier {
        flex-shrink: 0;
        width: fit-content;
        height: fit-content;
        white-space: nowrap;
        color: #1e40af;
        font-family: 'Roboto';
        font-size: 12px;
        line-height: 16px;
        font-weight: 500;
      }
    }
    .GOLD-tier-content {
      width: 50px;
      height: 20px;
      border-radius: 9999px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      row-gap: 0px;
      background: #fef9c3;
      .GOLD-tier {
        flex-shrink: 0;
        width: fit-content;
        height: fit-content;
        white-space: nowrap;
        color: #854d0e;
        font-family: 'Roboto';
        font-size: 12px;
        line-height: 16px;
        font-weight: 500;
      }
    }
    .SILVER-tier-content {
      width: 50px;
      height: 20px;
      border-radius: 9999px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      row-gap: 0px;
      background: #f3f4f6;
      .SILVER-tier {
        flex-shrink: 0;
        width: fit-content;
        height: fit-content;
        white-space: nowrap;
        color: #1f2937;
        font-family: 'Roboto';
        font-size: 12px;
        line-height: 16px;
        font-weight: 500;
      }
    }
    .BRONZE-tier-content {
      width: 58px;
      height: 20px;
      border-radius: 9999px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      row-gap: 0px;
      background: #ffedd5;
      .BRONZE-tier {
        flex-shrink: 0;
        width: fit-content;
        height: fit-content;
        white-space: nowrap;
        color: #9a3412;
        font-family: 'Roboto';
        font-size: 12px;
        line-height: 16px;
        font-weight: 500;
      }
    }
  }
  .nickname-box {
    flex-shrink: 0;
    width: 443.94px;
    height: 54px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    row-gap: 0px;
    padding: 0px 24px 0px 24px;
    background: rgba(0, 0, 0, 0);
    .nickname {
      flex-shrink: 0;
      width: 91px;
      height: 20px;
      white-space: nowrap;
      color: #2563eb;
      font-family: 'Roboto';
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      display: flex;
      align-items: center;
    }
  }
  .total-score-box {
    flex-shrink: 0;
    width: 279.5px;
    height: 54px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    row-gap: 0px;
    padding: 0px 24px 0px 24px;
    background: rgba(0, 0, 0, 0);
    .total-score {
      flex-shrink: 0;
      width: 24px;
      height: 20px;
      white-space: nowrap;
      color: #111827;
      font-family: 'Roboto';
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      display: flex;
      align-items: center;
    }
  }
}

.DIAMOND-background {
  background: #eff6ff;
}

.GOLD-background {
  background: #fefce8;
}

.SILVER-background {
  background: #f9fafb;
}

.BRONZE-background {
  background: #ffffff;
}
