.oauthContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  margin: 24px 0;
}

.oauthButton {
  display: flex;
  cursor: pointer;
  width: 250px;
}

.logo {
  width: 24px;
  height: 24px;
}
