.edit-article-button {
  width: 85.45px;
  height: 40px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 10px;
  row-gap: 0px;
  padding: 0px 16px 0px 16px;
  background: #9debe3;
}
.edit-article-button .edit-icon {
  flex-shrink: 0;
  width: 16px;
  height: 15.84px;
}
.edit-article-button .text {
  flex-shrink: 0;
  width: 30px;
  height: 24px;
  white-space: nowrap;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
}
