.total-rank-legend {
  width: 1376px;
  height: 40.5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  row-gap: 0px;
  background: #f9fafb;
  .grade-output-box {
    flex-shrink: 0;
    width: 280px;
    height: 40.5px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    row-gap: 0px;
    padding: 0px 24px 0px 24px;
    background: rgba(0, 0, 0, 0);
    .grade {
      flex-shrink: 0;
      width: 23px;
      height: 16px;
      white-space: nowrap;
      color: #6b7280;
      font-family: 'Roboto';
      font-size: 12px;
      line-height: 16px;
      font-weight: 500;
      letter-spacing: 0.6px;
      display: flex;
      align-items: center;
    }
  }
  .tier-output-box {
    flex-shrink: 0;
    width: 380px;
    height: 40.5px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    row-gap: 0px;
    padding: 0px 24px 0px 24px;
    background: rgba(0, 0, 0, 0);
    .text-tier {
      flex-shrink: 0;
      width: 23px;
      height: 16px;
      white-space: nowrap;
      color: #6b7280;
      font-family: 'Roboto';
      font-size: 12px;
      line-height: 16px;
      font-weight: 500;
      letter-spacing: 0.6px;
      display: flex;
      align-items: center;
    }
  }
  .nickname-output-box {
    flex-shrink: 0;
    width: 440px;
    height: 40.5px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    row-gap: 0px;
    padding: 0px 24px 0px 24px;
    background: rgba(0, 0, 0, 0);
    .text-nickname {
      flex-shrink: 0;
      width: 35px;
      height: 16px;
      white-space: nowrap;
      color: #6b7280;
      font-family: 'Roboto';
      font-size: 12px;
      line-height: 16px;
      font-weight: 500;
      letter-spacing: 0.6px;
      display: flex;
      align-items: center;
    }
  }
  .score-output-box {
    flex-shrink: 0;
    width: 276px;
    height: 40.5px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    row-gap: 0px;
    padding: 0px 24px 0px 24px;
    background: rgba(0, 0, 0, 0);
    .text-score {
      flex-shrink: 0;
      width: 23px;
      height: 16px;
      white-space: nowrap;
      color: #6b7280;
      font-family: 'Roboto';
      font-size: 12px;
      line-height: 16px;
      font-weight: 500;
      letter-spacing: 0.6px;
      display: flex;
      align-items: center;
    }
  }
}
