.introduction-section {
  width: 720px;
  height: 1024px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.introduction-section .logo-with-text {
  flex-shrink: 0;
  width: 300px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.introduction-section .logo-with-text .big-logo {
  flex-shrink: 0;
  width: 260px;
  height: 260px;
}
.introduction-section .logo-with-text .big-logo .big-logo-1 {
  width: calc(100% - 0% - 0%);
  height: calc(100% - 0% - 0%);
  object-fit: cover;
}
.introduction-section .logo-with-text .airena {
  flex-shrink: 0;
  align-self: stretch;
  width: 300px;
  height: 61px;
  color: #000000;
  font-family: 'Alexandria';
  font-size: 50px;
  line-height: 61px;
  font-weight: 400;
  text-align: center;
}
.introduction-section .logo-with-text .introduction-text {
  flex-shrink: 0;
  align-self: stretch;
  width: 300px;
  height: 64px;
  color: #000000;
  font-family: 'JetBrains Mono';
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  text-align: center;
}
