.cancel-button {
  width: 85px;
  height: 40px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  row-gap: 0px;
  background: #6b7280;
  .cancel-icon {
    flex-shrink: 0;
    width: 10px;
    height: 10px;
  }
  .text {
    flex-shrink: 0;
    width: 30px;
    height: 24px;
    white-space: nowrap;
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
  }
}
