.search-footer {
  width: 1376px;
  height: 42px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  row-gap: 0px;
  background: rgba(0, 0, 0, 0);

  .keyword-input {
    flex-shrink: 0;
    width: 1290.55px;
    height: 42px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    padding: 8px 48px 8px 16px;
    overflow: hidden;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      #ffffff;
    border: 1px solid #d1d5db;

    .text {
      flex-shrink: 0;
      width: 137px;
      height: 24px;
      white-space: nowrap;
      color: #6b7280;
      font-family: 'Roboto';
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
    }
  }

  .search-button {
    width: 80px;
    height: 42px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    row-gap: 0px;
    background: #9debe3;

    .text-1 {
      flex-shrink: 0;
      width: 30px;
      height: 24px;
      white-space: nowrap;
      color: #ffffff;
      font-family: 'Roboto';
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
    }
  }
}
