.normal-login-form {
  width: 480px;
  height: 276px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 14px;
  column-gap: 14px;
  overflow: hidden;
}
