.mocktest-like-area {
  width: 225.94px;
  height: 42px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 16px;
  row-gap: 0px;
  background: rgba(0, 0, 0, 0);
}
.mocktest-like-area .like-output-area {
  flex-shrink: 0;
  align-self: stretch;
  width: 107.77px;
  height: 42px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 10px;
  row-gap: 0px;
  background: rgba(0, 0, 0, 0);
}
.mocktest-like-area .like-output-area .like {
  flex-shrink: 0;
  width: 45px;
  height: 24px;
  white-space: nowrap;
  color: #4b5563;
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.mocktest-like-area .like-output-area .like-content {
  flex-shrink: 0;
  width: 52.77px;
  height: 28px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 5px;
  row-gap: 0px;
}
.mocktest-like-area .like-output-area .like-content .like-icon {
  flex-shrink: 0;
  width: 16.77px;
  height: 13.68px;
}
.mocktest-like-area .like-output-area .like-content .like-count {
  flex-shrink: 0;
  width: 31px;
  height: 28px;
  white-space: nowrap;
  color: #000000;
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
}
.mocktest-like-area .like-button {
  flex-shrink: 0;
  width: 102.17px;
  height: 42px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  row-gap: 0px;
  background: rgba(0, 0, 0, 0);
  border: 1px solid #9debe3;
}
.mocktest-like-area .like-button .transparent-like-icon {
  flex-shrink: 0;
  width: 16px;
  height: 13.66px;
}
.mocktest-like-area .like-button .text {
  flex-shrink: 0;
  width: 45px;
  height: 24px;
  white-space: nowrap;
  color: #9debe3;
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
}
