.password-input-box {
  width: 480px;
  height: 70px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  row-gap: 0px;
  padding: 0px 20px 0px 20px;
  overflow: hidden;
  background: #ffffff;
  border: 1px solid #d1d5db;

  .password-text {
    flex-shrink: 0;
    width: 74px;
    height: 28px;
    white-space: nowrap;
    color: #6b7280;
    font-family: 'Roboto';
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
  }

  .password-icon {
    flex-shrink: 0;
    width: 22.31px;
    height: 17.5px;
  }
}
