.normal-login-area {
  width: 480px;
  height: 276px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 14px;
  column-gap: 14px;
  overflow: hidden;
}
.normal-login-area .id-input-box {
  flex-shrink: 0;
  width: 480px;
  height: 70px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  row-gap: 0px;
  padding: 0px 20px 0px 20px;
  overflow: hidden;
  background: #ffffff;
  border: 1px solid #d1d5db;
}
.normal-login-area .id-input-box .id-text {
  flex-shrink: 0;
  width: 56px;
  height: 28px;
  white-space: nowrap;
  color: #6b7280;
  font-family: 'Roboto';
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
}
.normal-login-area .id-input-box .id-icon {
  flex-shrink: 0;
  width: 17.5px;
  height: 20px;
}
.normal-login-area .password-input-box {
  flex-shrink: 0;
  width: 480px;
  height: 70px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  row-gap: 0px;
  padding: 0px 20px 0px 20px;
  overflow: hidden;
  background: #ffffff;
  border: 1px solid #d1d5db;
}
.normal-login-area .password-input-box .password-text {
  flex-shrink: 0;
  width: 74px;
  height: 28px;
  white-space: nowrap;
  color: #6b7280;
  font-family: 'Roboto';
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
}
.normal-login-area .password-input-box .password-icon {
  flex-shrink: 0;
  width: 22.31px;
  height: 17.5px;
}
.normal-login-area .auth-buttons {
  flex-shrink: 0;
  align-self: stretch;
  width: 480px;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  row-gap: 0px;
  background: rgba(0, 0, 0, 0);
}
.normal-login-area .auth-buttons .find-id-button {
  flex-shrink: 0;
  width: 78px;
  height: 24px;
  white-space: nowrap;
  color: #000000;
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}
.normal-login-area .auth-buttons .divisor {
  flex-shrink: 0;
  width: 4px;
  height: 24px;
  white-space: nowrap;
  color: #d1d5db;
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}
.normal-login-area .auth-buttons .find-password-button {
  flex-shrink: 0;
  width: 93px;
  height: 24px;
  white-space: nowrap;
  color: #000000;
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}
.normal-login-area .auth-buttons .divisor-1 {
  flex-shrink: 0;
  width: 4px;
  height: 24px;
  white-space: nowrap;
  color: #d1d5db;
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}
.normal-login-area .auth-buttons .register-button {
  flex-shrink: 0;
  width: 59px;
  height: 24px;
  white-space: nowrap;
  color: #000000;
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}
.normal-login-area .shared-button {
  flex-shrink: 0;
  width: 480px;
  height: 70px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0px 20px 0px;
  background: #9debe3;
}
.normal-login-area .shared-button .shared-button-text {
  flex-shrink: 0;
  width: 56px;
  height: 28px;
  white-space: nowrap;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  text-align: center;
}
