.frame--- {
  width: 480px;
  height: 276px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 14px;
  column-gap: 14px;
  overflow: hidden;
}

.frame--- .div {
  flex-shrink: 0;
  align-self: stretch;
  width: 480px;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  row-gap: 0px;
  background: rgba(0, 0, 0, 0);
}
.frame--- .div .text-- {
  flex-shrink: 0;
  width: 78px;
  height: 24px;
  white-space: nowrap;
  color: #000000;
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}
.frame--- .div .text--2 {
  flex-shrink: 0;
  width: 4px;
  height: 24px;
  white-space: nowrap;
  color: #d1d5db;
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}
.frame--- .div .text---1 {
  flex-shrink: 0;
  width: 93px;
  height: 24px;
  white-space: nowrap;
  color: #000000;
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}
.frame--- .div .text--3 {
  flex-shrink: 0;
  width: 4px;
  height: 24px;
  white-space: nowrap;
  color: #d1d5db;
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}
.frame--- .div .text--4 {
  flex-shrink: 0;
  width: 59px;
  height: 24px;
  white-space: nowrap;
  color: #000000;
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}
