.mock-basic-info-area {
  width: 459.32px;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 24px;
  row-gap: 0px;
  background: rgba(0, 0, 0, 0);
  .quiz-count-output-box {
    flex-shrink: 0;
    width: 114.82px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: 10px;
    row-gap: 0px;
    background: rgba(0, 0, 0, 0);
    .quiz-count-icon {
      flex-shrink: 0;
      width: 13.82px;
      height: 12.25px;
    }
    .text-quiz-count {
      flex-shrink: 0;
      width: 91px;
      height: 20px;
      white-space: nowrap;
      color: #4b5563;
      font-family: 'Roboto';
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
    }
  }
}
