.change-password-form {
  width: 480px;
  height: fit-content;
  display: flex;
  row-gap: 14px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0);
  .input-area {
    flex-shrink: 0;
    align-self: stretch;
    width: 480px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
