body {
  margin: 0;
  background-color: #f8f9fa;
}

* {
  box-sizing: border-box;
}

.ql-toolbar {
  align-self: stretch;
}

#editor {
  align-self: stretch;
}

#editor .ql-editor {
  align-self: stretch;
}
