.article-legend {
  width: 1376px;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  row-gap: 0px;
  .number-output-box {
    flex-shrink: 0;
    width: 120px;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    row-gap: 0px;
    padding: 0px 20px 0px 20px;
    background: rgba(0, 0, 0, 0);
    .number {
      flex-shrink: 0;
      width: 30px;
      height: 24px;
      white-space: nowrap;
      color: #4b5563;
      font-family: 'Roboto';
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
    }
  }
  .title-output-box {
    flex-shrink: 0;
    width: 560px;
    height: 24px;
    background: rgba(0, 0, 0, 0);
    .title {
      width: 30px;
      height: 24px;
      white-space: nowrap;
      color: #000000;
      font-family: 'Roboto';
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
    }
  }
  .write-nickname-output-box {
    flex-shrink: 0;
    width: 224px;
    height: 24px;
    background: rgba(0, 0, 0, 0);
    .writer-nickname {
      width: 45px;
      height: 24px;
      white-space: nowrap;
      color: #4b5563;
      font-family: 'Roboto';
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
    }
  }
  .write-date-output-box {
    flex-shrink: 0;
    width: 224px;
    height: 24px;
    background: rgba(0, 0, 0, 0);
    .write-date {
      width: 45px;
      height: 24px;
      white-space: nowrap;
      color: #4b5563;
      font-family: 'Roboto';
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
    }
  }
  .like-count-output-box {
    flex-shrink: 0;
    width: 248px;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    row-gap: 0px;
    padding: 0px 20px 0px 20px;
    background: rgba(0, 0, 0, 0);
    .content-box {
      flex-shrink: 0;
      width: 39px;
      height: 24px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      row-gap: 0px;
      .like-count {
        flex-shrink: 0;
        width: 45px;
        height: 24px;
        white-space: nowrap;
        color: #4b5563;
        font-family: 'Roboto';
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        text-align: right;
      }
    }
  }
}
