.with-introduction-section-layout {
  width: 1440px;
  height: fit-content;
  margin: auto;
  display: flex;
  flex-direction: row;
}

.wide-background {
  width: 720px;
  height: 1024px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  row-gap: 0px;
  overflow: hidden;
  background: #f5f5f5;
}
