.mocktest-deatil-cotainer {
  width: 1376px;
  height: 690px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  column-gap: 32px;
  row-gap: 0px;
  background: rgba(0, 0, 0, 0);
}
