.authentication-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.logout-button:hover {
  background-color: #c82333;
}

.orDivisor {
  text-align: center;
}

.error {
  color: red;
  margin-top: 10px;
}
